/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@300&family=Playfair+Display:wght@500;600;800&display=swap');

/* Astrisk wildcard selector to override default styles by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styling */
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    color: black;
}

/* Header Styling */
header {
    background-color: lightgray; 
    padding: 0 1rem;
    position: fixed;
    z-index: 99;   
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    letter-spacing: 1px;
    color: rgb(125, 201, 12);
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    text-shadow: -2px 2px 2px darkslategray;
}

#navigation {
    letter-spacing: 1px;
    list-style-type: none;
    font-size: 130%;
}

#navigation > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navigation Bar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: lightgray;
    padding: 0 1rem;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    left: 0;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    /* Make main element take up surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Tennis Player Section */
#tennis-player {
    height: 600px;
    width: 100%;
    background: url("../images/tennis\ player.jpg") no-repeat center center/cover;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 180%;
    padding: 5%;
    color: #3a3a3a;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #navigation {
        display: flex;
    }

    #navigation >li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main Content */
    main {
        /* Push main content down to accomodate larger header */
        margin-top: 79px;
    }
}

/* Media query: laptops and desktops (992px and up) */
@media screen and (min-width: 992px) {
    #navigation a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}
